    <div class="card">
        <div class="col-xs-8">
            <input class="k-textbox" style="width: 100%;" placeholder="Your Name" />
        </div>
        <div class="col-xs-4">
            <button #anchor (click)="onToggle()" class="k-button">Действующие</button>
        </div>
    </div>
    <kendo-popup [anchor]="anchor" [popupClass]="'content popup'" *ngIf="show">
        <div class="card-block">
            <form class="k-form">
                <fieldset>
                    <legend>Клиенты</legend>
                    <kendo-buttongroup [selection]="'single'">
                        <button kendoButton [togglable]="true">
                                Мои
                            </button>
                        <button kendoButton [togglable]="true">
                                Подчиненных
                            </button>
                        <button kendoButton [togglable]="true">
                                Все
                            </button>
                    </kendo-buttongroup>
                </fieldset>

                <fieldset>
                    <legend>Статус</legend>
                    <kendo-buttongroup>
                        <button kendoButton [togglable]="true">
                                Индивидуальный предприниматель
                            </button>
                        <button kendoButton [togglable]="true">
                                Юридическое лицо
                            </button>
                        <button kendoButton [togglable]="true">
                                Холдинг
                            </button>
                        <button kendoButton [togglable]="true">
                                Финансовая группа
                            </button>
                    </kendo-buttongroup>
                </fieldset>
                <fieldset>
                    <legend></legend>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="k-form-field">
                            <span>Ответственный</span>
                            <input class="k-textbox" placeholder="Ответственный" />
                        </label>
                        </div>
                        <div class="col-xs-5">
                            <label class="k-form-field">
                                <span>Член рабочей группы</span>
                                <input class="k-textbox" placeholder="Член рабочей группы" />
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="k-form-field">
                            <span>Регистрация с</span>
                            <kendo-datepicker ></kendo-datepicker>
                        </label>
                        </div>
                        <div class="col-xs-5">
                            <label class="k-form-field">
                            <span>Регистрация до</span>
                            <kendo-datepicker ></kendo-datepicker>
                        </label>
                        </div>
                    </div>

                </fieldset>

                <div class="text-right">
                    <button class="k-button">Cancel</button>
                    <button class="k-button k-primary">Submit</button>
                </div>
            </form>
        </div>
    </kendo-popup>